@import '_content/Microsoft.Fast.Components.FluentUI/Microsoft.Fast.Components.FluentUI.bundle.scp.css';

/* /Components/Layout/EditVisitLayout.razor.rz.scp.css */
.page[b-bqw7utmdre] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-bqw7utmdre] {
    flex: 1;
}

.sidebar[b-bqw7utmdre] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-bqw7utmdre] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-bqw7utmdre]  a, .top-row[b-bqw7utmdre]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-bqw7utmdre]  a:hover, .top-row[b-bqw7utmdre]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-bqw7utmdre]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-bqw7utmdre] {
        justify-content: space-between;
    }

    .top-row[b-bqw7utmdre]  a, .top-row[b-bqw7utmdre]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-bqw7utmdre] {
        flex-direction: row;
    }

    .sidebar[b-bqw7utmdre] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-bqw7utmdre] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-bqw7utmdre]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-bqw7utmdre], article[b-bqw7utmdre] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/Layout/VisitLayout.razor.rz.scp.css */
.page[b-370qrq4e36] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-370qrq4e36] {
    flex: 1;
}

.sidebar[b-370qrq4e36] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-370qrq4e36] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-370qrq4e36]  a, .top-row[b-370qrq4e36]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-370qrq4e36]  a:hover, .top-row[b-370qrq4e36]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-370qrq4e36]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-370qrq4e36] {
        justify-content: space-between;
    }

    .top-row[b-370qrq4e36]  a, .top-row[b-370qrq4e36]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-370qrq4e36] {
        flex-direction: row;
    }

    .sidebar[b-370qrq4e36] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-370qrq4e36] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-370qrq4e36]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-370qrq4e36], article[b-370qrq4e36] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
